
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IM+ Bar stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="FinamShape">

    <!-- Le styles -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; 
        }
        div#stats, div#auth, div#graphics {
            display: none;
        }
        div#auth .alert {
            display: none;
        }

        div#click_count_wrapper {
            display: none;
        }
        
    </style>
    <link href="../../static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../../static/ico/favicon.ico">
</head>

<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">IM+ Bar stats</a>
            </div>
        </div>
    </div>

    <div class="container">

        <h1>Статистика использования IM+ Bar</h1>

        <br/><br/><br/>

        <div id="auth" class="row">
            <form class="well">
                <input type="password" class="span3" placeholder="Enter your secret password">
                <div class="alert alert-error"></div>
                <br/>
                <button type="submit" class="btn btn-primary">See stats</button>
            </form>
        </div>

        <div id="stats" class="row">
            <div class="span2">
                Total Users <h1><span id="u_count_total">0</span></h1>
            </div>
            <div class="span2">
                Daily Users 
                <h1>
                    <span id="u_count"></span> 
                </h1>
                (<span id="nu_count">0</span> new)
            </div>
            <div class="span2">Daily Sessions <h1> <span id="s_count"></span></h1></div>

            <div class="span2">
                Browser usage<br/>
                Chrome: <span id="chrome_percent"></span><br/>
                FF: <span id="ff_percent"></span><br/>
                Opera: <span id="opera_percent"></span><br/>
                Safari: <span id="safari_percent"></span><br/>
            </div>

            <div class="span2" id="click_count_wrapper">
                Clicks today <h1><span id="click_count">0</span></h1>
            </div>
        </div>
        <hr/>
        <div id="graphics" class="row">
            <div class="span12" id="graph">
            </div>

            <div class="span12" id="graph2" style="margin-top: 30px;">
            </div>
        </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/underscore-min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/highcharts.js"></script>
    <script>
        var update_stats = function() {
            $.get('/bar_stat/api/<%=partner%>/usage', function(data, status) {
                $('#u_count_total').html(data.u_count_total);
                $('#u_count').html(data.u_count);
                $('#nu_count').html(data.nu_count);
                $('#s_count').html(data.s_count);
                $('#click_count').html(data.click_count);
                if(data.click_count > 0) {
                    $('#click_count_wrapper').show();
                }
                
                var total_browsers_ucount = data.chrome_count + data.ff_count + data.opera_count;
                $('#chrome_percent').html(
                    (data.chrome_count/total_browsers_ucount * 100).toFixed(2) + "%"
                );
                $('#ff_percent').html(
                    (data.ff_count/total_browsers_ucount * 100).toFixed(2) + "%"
                );
                $('#opera_percent').html(
                    (data.opera_count/total_browsers_ucount * 100).toFixed(2) + "%"
                );
                $('#safari_percent').html(
                    (data.safari_count/total_browsers_ucount * 100).toFixed(2) + "%"
                );
            });
            setTimeout(update_stats, 30000);
        };
        var get_graph_data = function() {
            if ('<%=partner%>' === 'overall') {
                return get_sum_graph_data();
            }

            $.get('/bar_stat/api/<%=partner%>/graphdata', function(data, status) {
                var xAxis = [];
                var new_users = [];
                var total_users = [];
                var clicks = [];
                $.each(data, function(idx, item) {
                    xAxis.push(item.name);
                    total_users.push(item.data[0]);
                    new_users.push(item.data[1]);
                    clicks.push(item.data[2]);
                });
                $('#graphics').show();
                chart.xAxis[0].categories = xAxis;
                chart.xAxis[0].setCategories(xAxis, false);
                chart.addSeries({name: 'Returning users', data: total_users});
                chart.addSeries({name: 'New users', data: new_users});
                clicks_chart.addSeries({name: 'Clicks', data: clicks});
            });
        };

        var get_sum_graph_data = function() {
            clicks_chart.options.chart['type'] = 'column';
            
            $.get('/bar_stat/api/<%=partner%>/sumgraphdata', function(data, status) {
                var xAxis = [];
                var users = {};
                var clicks = {};
                for(var i = 0; i < data.length; i++) {
                    var d_data = data[i].data;
                    xAxis.push(data[i].name); // string date
                    for (var j = 0; j < d_data.length; j++) {
                        var item = d_data[j];
                        var partner = item['partner'];
                        if (! (partner in users) ) {users[partner] = [];}
                        if (! (partner in clicks) ) {clicks[partner] = [];}
                        users[partner].push(item['users']);
                        clicks[partner].push(item['clicks']);
                    }
                }
                $('#graphics').show();
                chart.xAxis[0].categories = xAxis;
                chart.xAxis[0].setCategories(xAxis, false);
                $.each(users, function(partner, data) {
                    chart.addSeries({name: partner, data: data});
                });

                clicks_chart.xAxis[0].categories = xAxis;
                clicks_chart.xAxis[0].setCategories(xAxis, false);
                $.each(clicks, function(partner, data) {
                    clicks_chart.addSeries({name: partner, data: data});
                });
            });
        };

        var chart;
        var clicks_charts;
        (function($){
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'graph',
                    type: 'column'
                },
                title: {
                    text: 'History for IM+ Bar usage'
                },
                xAxis: {
                    categories: []
                },
                yAxis: {
                    min: 0,
                    allowDecimals: false,
                    title: {
                        text: 'User count'
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    align: 'right',
                    x: -100,
                    verticalAlign: 'top',
                    y: 20,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false
                },
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.x +'</b><br/>'+
                            this.series.name +': '+ this.y +'<br/>'+
                            'Total: '+ this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                        }
                    }
                }
            });
            
            clicks_chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'graph2',
                    type: 'line'
                },
                title: {
                    text: 'IM+ Bar news clicks'
                },
                xAxis: {
                    categories: []
                },
                yAxis: {
                    min: 0,
                    allowDecimals: false,
                    title: {
                        text: 'Click count'
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    align: 'right',
                    x: -100,
                    verticalAlign: 'top',
                    y: 20,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false
                },
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.x +'</b><br/>'+
                            this.series.name +': '+ this.y;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                        }
                    }
                }
            });

            var needs_auth = <%=needs_auth%>;
            if(needs_auth) {
                var $auth = $('#auth')
                $auth.show();
                $auth.find('form').on('submit', function(event) {
                    var pwd = $auth.find('input[type=password]').val()
                    if(!pwd) {
                        $auth.find('.alert').show().html('Specify the password, please.');
                        return false;
                    }
                    $auth.find('.alert').hide();
                    $.ajax({
                        type: 'GET',
                        url:'/bar_stat/api/login/<%=partner%>/', 
                        data: {secret: pwd},
                        success: function(data, status) {
                            $('#auth').hide();
                            $('#stats').show();
                            update_stats();
                            get_graph_data();
                        },
                        error: function(xhr, status, error) {
                            if(xhr.responseText === 'badsecret') {
                                $auth.find('.alert').show().html('Password is incorrect :(');
                            } else if(xhr.responseText === 'nouser') {
                                $auth.find('.alert').show().html('No such user.');
                            } else if(xhr.responseText === 'nosecret') {
                                $auth.find('.alert').show().html('Specify the password, please.');
                            }
                        }
                    });
                    return false;
                });
            } else {
                $('#stats').show();
                update_stats();
                get_graph_data();
            }
        })(jQuery);
    </script>

</body>
</html>
